header,
footer,
article,
nav {
    padding: 20px;
    background: #CCCCFF;
}

.profilePic {
    width: 90%;
    border-radius: 15%;
    margin:0px auto;
}


@keyframes springy-text {
    0% {
        letter-spacing: 1.2em;
        color: white;
    }

    100% {
        letter-spacing: 0.1em;
        color: #A31212;
    }
}

.myName {
    color: #A31212;
    animation-name: springy-text;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.comProjectSub,
.upProjectSub {
    text-align: center;
    font-size: 25px;

}

.scrollProjects {
    height: 400px;
    width: 40%;
    margin: 0px auto;
    padding: 50px;
    background-color: #D9F7FF;
    border: 5px solid black;
    overflow-y: scroll;
}

.thumbnailC,
.thumbnailA,
.thumbnailB {
    height: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: inline;
    color: white;
    justify-content: center;
}

#column {
    background-color: #FFB0C6;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.caption {
    font-size: 20px;
    color: white;
    text-shadow: 4px 4px 4px black;
}
